<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
      <add key="ApplicationId" value="g6S8spz8mWaRmettl8puz8sMDkgL6enP8pJJ4oTK"/>
      <add key="DotNetKey" value="T5gykzQsG1KavfYBlC42iswiopIwcfHEgvTBCXfl"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>